@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .custom-border {
    @apply border border-dashed;
    border-color: rgba(194, 180, 163, 0.2);
  }
  .button-shape {
    @apply flex items-center justify-center text-[13px] md:text-base mr-[7px]   w-[55px] md:w-[75px] h-[22px] px-[30px] py-[16px] sm:px-[30px] sm:py-[20px] sm:mr-[30px] rounded-[5px] custom-border;
  }
  .homepage-section {
    @apply w-[90%] mt-[50px] lg:mt-[150px] custom-border rounded-2xl pt-5 lg:pt-12 mb-0 lg:mb-20;
  }

  .crafting-bottom {
    @apply w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3;
  }
  .crafting-grid-item {
    @apply custom-border h-[300px] w-full relative p-[20px] text-left;
  }
  .crafting-grid-item img {
    @apply block mb-[45px];
  }

  .crafting-grid-item img:nth-of-type(2) {
    @apply absolute top-[10px] right-[10px] w-[140px] h-auto;
  }
  .crafting-grid-item h3 {
    @apply mx-0 mt-[20px] mb-[10px];
  }

  .crafting-grid-item p {
    @apply m-0 text-[13px] opacity-60;
  }

  .journey-bottom {
    @apply w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4;
  }
  .journey-grid-item {
    @apply custom-border h-[300px] w-full relative p-[20px] text-left;
  }

  .journey-grid-item h3 {
    @apply mx-0 mt-[20px] mb-[10px];
  }

  .journey-grid-item p {
    @apply m-0 text-[13px] opacity-60;
  }

  .grid-item {
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    h2 {
      margin: 0;
      font-size: 2rem;
    }

    p {
      margin: 0;
      font-size: 1rem;
      opacity: 0.6;
    }
  }
}

@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope.ttf") format("truetype");
  font-style: normal;
  /* No need to define font-weight here */
}
body {
  letter-spacing: 1.5px;

  font-family: Manrope;
  background-color: var(--dark-theme-background);
}

.header-button {
  &.active {
    background-color: #2a2a2a;
  }
}

.button-shape {
  &.active {
    background-color: #c7baaa;
  }
}

.bottom {
  &.active {
    background-color: #c7baaa;
  }
  &.button-shape {
    @apply flex items-center justify-center w-[80px] h-[22px] px-[30px] py-[20px] mr-[30px] rounded-[5px] custom-border;
  }
}

.button,
button:hover {
  cursor: pointer;
}
.selected {
  border: 2px solid;
}

html {
  scroll-behavior: smooth;
}
.brown-text {
  color: #ae9b84;
}
a {
  text-decoration: none;
}
:root {
  --light-theme-background: #ffff;
  --dark-theme-background: #1a1a1a;
  --light-color: #0000;
  --dark-color: #ffff;
  --dark-icon: #c2b4a3;
  --light-icon: #ffd400;
  --gold: #ae9b84;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif Manrope;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
  background: var(--dark-theme-background);
  color: var(--dark-color);
}
